header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #010F25;
  background-position: center;
  width: 100%;
  z-index: 100;
  padding: 1em 0;
  color: white;
}

header img {
  width: 150px;
  max-width: 200px;
}

header i {
  font-size: 45px;
  color: white;
  display: none;
}

header svg {
  font-size: 30px;
}

 .btn {
  background-color: #24feb7;
  width: 40%;
  max-width: 150px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  color: #010544;
  margin-left: 10px;
}

header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav {
  display: none;
}

@media screen and (min-width: 700px) {
  header nav {
    padding-top: 10px;
    display: block;
  }

  header nav a {
    margin-left: 20px;
  }

  header .fa-bars {
    display: none;
  }

  header .btn {
    font-size: 20px;
    font-weight: bolder;
  }
}