
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
$font-stack: 'Quicksand' sans-serif;
$text-color:white;
$alt-color:#24feb7;
$bg-color:#010F25;
$alt-bg-color: #000917;
$btn-color: #010544;

@mixin btn_mobile {
    background-color: $alt-color;
    border-radius: 5px;
    color: $btn-color;
    padding: 0.5em 1em;
    margin: top 0;

    &:hover {
        text-decoration: none;
    }
}

@mixin btn_desktop {
    background-color: $alt-color;
    border-radius: 5px;
    color: $btn-color;
    padding: 0.8em 2em;
    margin-top: 0;

    font: {
        weight: 600;
        size: 15px;
    }

    &:hover {
        text-decoration: none;
        text-align: center;
        padding: 0.8em 2.1em;
        box-shadow: 0px 16px rgba(0, 0, 0, 0.25);

        font: {
            weight: 600;
            size: 18px;
        }
    }
}

@mixin footer_mobile {
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5em 0;
    width: 100%;
    background-color: #010F25;
    color: silver;
    img{
        width: 80px;
        margin-bottom: 0.5em;
    }
    h4 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 0.8em;
    }

    a {
        color: silver;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;
        li{
            margin-top: 0.8em;
            font-size: 16px;
        }
    }
}
@mixin footer_desktop{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding: 3em 4.5em 3.5em 4.5em;
    .item1{
        align-self: start;
    }
    img{
        width: 120px;
        margin-bottom: 0;
    }
    h4 {
        font-size: 20px;
    }
    ul{
        text-align: left;
        margin-top: 0;
        align-self: start;
        li{
            margin-top: 0.8em;
            font-size: 18px;
        }
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font: {
        family: $font-stack;
    }
}
body {
    box-sizing: border-box;
    text-decoration: none;

    font: {
        family: $font-stack;
    }

    color: $text-color;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: $text-color;
}

img {
    width: 60%;

}

ul {
    list-style: none;
}

h1 {
    color: $alt-color;

    font: {
        size: 46px;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin flex2_ {
    display: flex;
    justify-content: center;
    align-items: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 1em 0.5em;
    width: 100%;
    position: fixed;
    background-position: center;
    background-color: $bg-color;

    .logo {
        width: 50px;
    }

    .nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 4em;
        background-color: $bg-color;
        justify-content: space-between;
        align-items: center;
        left: 0;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0 0 2em 0;

        a {
            margin: 1em 0 0 0;
            color: white;
            display: inline;
            font-weight: 900;
            font-size: 16px;
            text-align: left;
        }
    }

    .btn-green {
        @include btn_mobile();
    }

    .closebtn {
        transition: width 0.8s ease-in-out;
        cursor: default;
        font-size: 45px;
        display: none;

        &:hover {
            text-decoration: none;
        }
    }
}

/*header ends */

.section1 {
    text-align: center;
    background: {
        image: url("../img/homepage-011-1.png");
        size: cover;
        attachment: fixed;
        repeat: no-repeat;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    h1 {
        font: {
            size: 50px;
            weight: 900;
        }
        margin-top: 1.5em;
        color: $alt-color;
        span {
            color: $text-color;
        }
    }

    p {
        margin:1.5em 0;

        font: {
            size: 18px;
            weight:900;
        }
    }

    .btn {
        display: block;
        background-color: $alt-color;
        width: 30%;
        margin: auto;
        line-height: 03;
        color: $btn-color;
        border-radius: 10px;
        @include flex2_();
        
    }
    .store{
        margin-top: 1em;
        @include flex2_();
        a{
            font-size: 18px;
            font-weight: 700;
            @include flex2_();            
            margin:0 0.5em;
            .fab{
                margin: 0 0.3em;
            }
        }
    }
}

/*section1 ends */
.section2 {
    width: 100%;
    padding: 40px 35px;
    text-align: center;
    background-color: $alt-bg-color;
    transition: background 0.3s, ease;
    .flexy {
        margin-top: 70px;

        h3 {
            margin: 20px 0 0 0;

            font: {
                size: 30px;
                weight: 700;
            }
        }

        p {
            margin: 20px 0 40px 0;

            font: {
                size: 18px;
                weight: 400;
            }
        }
    }
}

/*Section2 ends*/
.section3 {
    text-align: left;
    width: 100%;
    height: auto;
    background-color: #010F25;
    padding: 100px 20px;

    h1 {
        color: $text-color;
        padding-top: 50px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 20px 0 40px 0;

        font: {
            size: 18px;
            weight: 400;
        }
    }

    .flexy2 {
        display: flex;
        flex-direction: column-reverse;

        img {
            margin: auto;
            display: block;
            height: auto;
        }
    }

    b {
        font: {
            size: 30px;
            weight: 700;
        }

        text-align: left;
    }

    span {
        text-align: left;

        h3 {
            margin: 20px 0 0 0;

            font: {
                size: 35px;
                weight: 700;
            }
        }

        b {
            color: $alt-color;
        }

        p {
            text-align: left;
        }
    }
}

/*Section3 ends*/

.section4 {
    width: 100%;
    padding: 70px 20px 50px 20px;
    background-color: #000917;
    text-align: center;

    img {
        margin: 80px 0 30px 0;
    }

    h1 {
        span {
            color: $text-color;
        }
    }

    p {
        text-align: left;
        padding: 0 0px 0 10px;

        small {
            text-align: center;
            display: block;
            color: rgb(191, 192, 192);
            margin: 30px 0 20px 0;
        }
    }
}

/*Section4 ends*/

.section5 {
    width: 100%;
    height: auto;
    background-color: #010F25;
    text-align: center;
    padding: 100px 10px;

    h1 {
        color: $text-color;
        margin-bottom: 30px;

        span {
            color: $alt-color;
            margin-top: 30px;
        }
    }

    .flexy_3 {
        @include flex;
        flex-direction: column;

        span {
            border: solid white 1px;
            border-radius: 15px;
            padding: 70px 40px;
            font-size: 14px;
            font-weight: 300;
            color: #fff;

            p {
                line-height: 2;
            }

            strong {
                font-size: 18px;
                font-weight: 700;
                margin-top: 50px;
                display: block;
            }
        }

        #edmond {
            margin-top: 20px;
        }

        #gafar {
            margin-top: 20px;
        }

        #jones {
            margin-top: 20px;
        }
    }
}

/*Section5 ends*/
.section6 {
    width: 100%;
    height: auto;
    padding: 100px 20px;
    background-color: #000917;

    img {
        display: none;
    }

    span {
        background-color: #010F25;
        border-radius: 20px;

        img {
            display: block;
        }

        h2 {
            font-size: 30px;
            font-weight: 900;
            padding-bottom: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
        }

        a {
            display: block;
            background-color: $alt-color;
            width: 50%;
            line-height: 03;
            color: $btn-color;
            border-radius: 10px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

/*Section6 ends*/

footer {
    @include footer_mobile();
}

/*Academy Begins Here*/

.academy1 {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #010F25;
    padding: 200px 30px 0 30px;
    text-align: center;

    h1 {
        margin: 0 0 70px 0;

        span {
            color: $text-color;
        }
    }

    img {
        width: 70%;
        max-width: 400px;
        margin: 0%;
    }
}

.academy2 {
    margin: 0;
    width: 100%;
    text-align: center;

    img {
        width: 90%;
        max-width: 600px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 80px;
        font-weight: 900;
    }

    header {
        padding: 1em 3em;

        .logoNavcontainer {
            @include flex();
            width: 50%;
        }

        .logo {
            width: 130px;
        }

        .nav {
            position: relative;
            display: inline;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1em 0 0 0;
            top: 0;
            background-color: transparent;
            left: 0;
            width: auto;
            box-shadow: none;

            font: {
                weight: 700;
            }

            a {
                margin: 0;
                color: white;
                display: inline;
                font-weight: 900;
                font-size: 16px;
                text-align: left;
                padding: 0 1em;

                &:hover {
                    text-decoration: none;
                    color: $alt-color;
                }
            }

        }

        .btn-green {
            @include btn_desktop();
        }

        .closebtn {
            transition: width 0.8s ease-in-out;
            cursor: default;
            font-size: 45px;
            display: none;

            &:hover {
                text-decoration: none;
            }
        }

        .hamburger {
            display: none;
        }
    }

    .section1 {
        text-align: left;
        padding: 200px 50px 150px 50px;
        width: 100%;
        height: auto;

        h1 {
            padding: 0 20px;
        }

        p {
            width: 60%;
            margin: 15px 0 0 30px;

            font: {
                size: 30px;
            }
        }

        .btn {
            text-align: center;
            width: 15%;
            line-height: 03;
            margin: 40px 0 0 25px;
        }

        .fab {
            margin-top: 20px;
            padding: 20px 0 0 20px;
        }
    }

    .section2 {
        padding: 40px 70px;
        text-align: center;

        h1 {
            padding: 0 20px;
        }

        .flexy {
            @include flex;
            margin-top: 70px;

            div {
                width: 25%;
            }

            h3 {
                margin: 20px 0 0 0;

                font: {
                    size: 30px;
                    weight: 700;
                }
            }

            p {
                margin: 20px 0 40px 0;

                font: {
                    size: 18px;
                    weight: 400;
                }
            }
        }
    }

    .section3 {
        background-color: #010F25;
        padding: 100px 20px;

        h1 {
            color: $text-color;
            padding-top: 50px;
            text-align: center;
        }

        p {
            text-align: center;
            margin: 50px 0 50px 0;

            font: {
                size: 30px;
                weight: 400;
            }
        }

        .flexy2 {
            display: flex;
            flex-direction: row;

            img {
                width: 40%;
                margin: auto;
                display: block;
                height: auto;
            }
        }

        b {
            font: {
                size: 30px;
                weight: 700;
            }

            text-align: left;
        }

        span {
            width: 30%;
            text-align: left;

            h3 {
                margin: 20px 0 0 0;

                font: {
                    size: 35px;
                    weight: 700;
                }
            }

            b {
                color: $alt-color;
            }

            p {
                margin: 20px 0 0 0;
                font-size: 16px;
                text-align: left;
            }
        }
    }

    /*Section3 ends*/

    .section4 {
        padding: 70px 20px 50px 20px;
        text-align: center;

        div {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;

        }

        img {
            width: 40%;
            margin: 80px 0 30px 0;
        }

        h1 {
            padding-top: 50px;
            text-align: center;

            span {
                color: $text-color;
            }
        }

        p {
            font: {
                size: 30px;
                weight: 400;
            }

            margin: auto;
            width: 40%;
            text-align: left;
            padding: 0 0px 0 10px;

            small {
                font-size: 16px;
                text-align: left;
                display: block;
                color: rgb(191, 192, 192);
                margin: 30px 0 20px 0;
            }
        }
    }

    /*Section4 ends*/

    .section5 {
        text-align: center;
        padding: 100px 10px;

        h1 {
            font-size: 80px;
            font-weight: 900;
            margin: auto;
            width: 70%;

            span {
                color: $alt-color;
                margin-top: 30px;
            }
        }

        .flexy_3 {
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            span {
                width: 25%;
                border: solid white 1px;
                border-radius: 15px;
                padding: 40px 20px;
                font-size: 14px;
                font-weight: 300;
                color: #fff;

                p {
                    line-height: 2;
                }

                strong {
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 50px;
                    display: block;
                }
            }
        }
    }

    .section6 {
        .flexy3 {
            padding: 20px 0;
            display: flex;
            justify-content: space-around;
            background-color: #010F25;
            width: 80%;
            margin: auto;
            border-radius: 40px;
        }

        img {
            display: block;
            width: 15%;
        }

        span {
            h2 {
                font-size: 50px;
                font-weight: 900;
                padding-bottom: 20px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
            }

            a {
                display: block;
                width: 30%;
            }
        }
    }
    
    footer {
        @include footer_desktop();
    }
}